doctype html
html
  head
    title= title
    script(type='text/javascript', src="js/libs/JSXTransformer.js")
    script(type='text/javascript', src="js/libs/react.js")
    script(type='text/javascript', src="js/libs/socket.io.js")
    script(type='text/jsx', src="js/component.js")
    link(rel='stylesheet', href="css/styles.css")
  body
    div#tweets